<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Váš účet byl úspěšně vytvořen</h2>
        <p>Nyní se můžete přihlásit ke svému účtu pomocí svých přihlašovacích údajů.</p>
        <hr />
        <p>Děkuji!</p>
    </div>
</div>