<div class="row">
    <div class="col-md-10 offset-1 alert alert-success text-center">
        <h2>Objednávka úspěšně dokončena</h2>
        <p>Všechny své objednávky si můžete zkontrolovat ve svém profilu v sekci Objednávky</p>
        <hr />
        <p>Děkuju!</p>
    </div>
</div>